.body__banner{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.addButton__container{
    margin-top:5%;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: .25rem;
    height: 10vh;
}
.profile__col{
    width: 25%;
}
.name__col{
    width: 15%;
}
.salary__col{
    width: 10%;
}
.age__col{
    width: 10%;
}
.action__col{
    width: 40%;
}
.delete__icon{
    font-size: 18px;
}
.user__img{
    height: 5vh;
    border-radius: .25rem;
    margin-left: 15%;
}